<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Routing name="ApplicationManagerRouting">
			<Routes pattern="$${ctx:LogContext}">             
 				<Route key="$${ctx:LogContext}">
					<RollingFile name="Connect4RollingLogFile-Unknown" 
							fileName="C:/Personal/Dev/Connect4/KnowledgeBase/logs/Connect4-Unknown.log" 
							filePattern="logs/$${date:yyyy-MM}/Connect4-Unknown-%d{yyyy-MM-dd-HH}-%i.log">
			    		<PatternLayout>
			        		<Pattern>[%d{ISO8601}] %p [%t] (%F:%L) %m%n</Pattern>
			      		</PatternLayout>
						<Policies>
			        		<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			        		<SizeBasedTriggeringPolicy size="10 MB"/>
			      		</Policies>
					</RollingFile>
				</Route>
 				<Route>
					<RollingFile name="Connect4RollingLogFile-${ctx:LogContext}" 
							fileName="C:/Personal/Dev/Connect4/KnowledgeBase/logs/Connect4-${ctx:LogContext}.log" 
							filePattern="logs/$${date:yyyy-MM}/Connect4-${ctx:LogContext}-%d{yyyy-MM-dd-HH}-%i.log">
			    		<PatternLayout>
							<!-- <Pattern>[%d{ISO8601}] %p [%t]:[CONNECT4] at %C.%M(%F:%L):[%X{ClientSessionID}] %m%n</Pattern> -->
    				    		<Pattern>[%d{ISO8601}] %p [%t] (%F:%L) %m%n</Pattern>
				      		</PatternLayout>
						<Policies>
			        		<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			        		<SizeBasedTriggeringPolicy size="10 MB"/>
			      		</Policies>
					</RollingFile>
				</Route>
			</Routes>
		</Routing> 
   		
		<Console name="Console" target="SYSTEM_OUT">
           <PatternLayout pattern="[%d{ISO8601}] %p [%t] [%X{ClientSessionID}] %m           (%F:%L) (%C.%M)%n"/>
   		</Console>


    </Appenders>
    <Loggers>
    	<logger name="com.home.neil" level="debug">
        	<AppenderRef ref="Console"/> 
        	<AppenderRef ref="ApplicationManagerRouting"/>
    	</logger>

		<Root level="error">
			<!-- <AppenderRef ref="Console"/> -->
		</Root>
    </Loggers>
</Configuration>